.signedout-card {

    margin-top: 10em;

    .tabs .tab a{
        color:#000;
        text-transform: none;
    } /*Black color to the text*/
    
    .tabs .tab a:hover {
        background-color:#eee;
        color:#000;
    } /*Text color on hover*/
    
    .tabs .tab a.active {
        background-color:#888;
        color:#000;
    } /*Background and text color when a tab is active*/
    
    .tabs .indicator {
        background-color:#000;
    } /*Color of underline*/

}

.user-card {
    margin: 0;
    width: 300px;
    position: absolute;
    right: 30px;

    .card-action {
        padding: 0.5em;
        object-fit:cover;

        a {
            text-transform: none !important;
            margin: 1em !important;
        }
    }

    .user-img-card {
        width: 85px;
        height: 85px;
        object-fit:cover;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: -0.5em;
    }
}

.tab-card {
    margin: 0;

    .card-content{
        padding-top: 1em;
    }
}

.tab-title {
    text-align: center;
}

.trip-card-carousel {

    @media #{$mq-small} {
        min-height: 350px;

        .trip-card {
            width: 300px;
            height: 220px;
            margin-left: -25%;
            margin-top: -10%;

            .card-content {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                .card-title {
                    width: 250px;
                }
            }
        }

        .trip-card-image {
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 6rem;
        }
    }

    @media #{$mq-medium} {
        min-height: 500px;

        .trip-card {
            width: 400px;
            height: 300px;
            margin-left: -50%;
            margin-top: -10%;

            .card-content {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                .card-title {
                    width: 350px;
                }
            }
        }

        .trip-card-image {
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 8rem;
        }
    }

    @media #{$mq-large} {
        min-height: 600px;

        .trip-card {
            width: 500px;
            height: 300px;
            margin-left: -70%;
            margin-top: -10%;

            .card-content {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                .card-title {
                    width: 450px;
                }
            }
        }

        .trip-card-image {
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 10rem;
        }
    }

    .indicators{

        .active {
            background-color: #26a69a !important;
        }
        .indicator-item {
            background-color: #cfd8dc;
        }
    }

}